.userContainer {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.pageTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.addButton {
    background-color: #84da15;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.addButton:hover {
    background-color: #72c212;
}

.listContainer {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
}

.listTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.dataHeader,
.dataRow {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
}

.dataRow p {
    margin: 0;
}

/* Modal Styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.modalTitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.inlineGroup {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.doacaoInputContainer {
    display: flex;
    gap: 10px;
}

.addDoacaoButton {
    background-color: #84da15;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.addDoacaoButton:hover {
    background-color: #72c212;
}

.doacoesList {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.doacaoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 8px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.removeDoacaoButton {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
}

.removeDoacaoButton:hover {
    background-color: #e53935;
}

.modalButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.submitButton,
.closeButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.submitButton {
    background-color: #84da15;
    color: white;
}

.submitButton:hover {
    background-color: #72c212;
}

.closeButton {
    background-color: #ddd;
    color: #555;
}

.closeButton:hover {
    background-color: #bbb;
}
