body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

/* Estilizando o trilho */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor do fundo */
  border-radius: 10px; /* Cantos arredondados */
}

/* Estilizando o "polegar" */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom right, #84DA15, #58910e); /* Cor do polegar */
  border-radius: 10px; /* Cantos arredondados */
}

/* Alterando a cor ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor ao hover */
}
